<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This web app is designed to be as intuitive as possible. I built this app from scratch using a tutorial from the web that helped me learn Ruby on Rails. This app is a by-product of following that tutorial.
</p>