<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This web app is designed to be as intuitive as possible. I built this app from scratch using a tutorial from the web that helped me learn Ruby on Rails. This app is a by-product of following that tutorial. There is no help section yet as I have had no time to work on it. To request a help section, please contact me <%= link_to "here.", 'mailto:botflip@gmail.com?Subject=Botflip:%20I%20want%20a%20help%20page' %>
</p>