
<div class="center hero-unit">
  <h1>Welcome to Botflip!</h1>

  <h2>
    Botflip allows you to post short updates to your friends...
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
