
// primary colors
$text-blue: #71c7f0;
$heading-blue: #074b5b;
$text-color: lighten($heading-blue, 7%);
$dropdown-border: lighten($heading-blue, 25%);

//Company name
.navbar {
	.brand {
		font-weight: bold;
		text-transform: uppercase;
		color: $heading-blue;
		
		&:hover{
			text-shadow: 1px 1px 0 rgba($text-blue, 0.5);			
		}
	}
}


//Navbar adjustments
$white-alpha: 					  rgba(255,255,255,0.5);

$navbarBackground: 				  $white-alpha;
$navbarBackgroundHighlight:		  lighten($navbarBackground,10%);
$navbarBorder: 					  darken($navbarBackground, 10%);
$navbarLinkColor:                 $heading-blue;
$navbarLinkColorHover:            darken($heading-blue, 20%);
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundActive:      rgba(lighten($text-blue, 12%), 0.9);
$navbarLinkBackgroundHover:       lighten($text-blue, 25%);

//The shape and appearance of dropdown button for phone nav

.navbar .btn-navbar {
  background-color: $navbarLinkBackgroundHover;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		  
		  border-color: $dropdown-border $dropdown-border darken($dropdown-border, 10%) $dropdown-border;
		  border-width: 2px;
		  &:hover {
		  	background-color: lighten($navbarLinkBackgroundHover, 1%);
		  }
}

//Color of the three lines
.navbar .btn-navbar .icon-bar {
  background-color: $heading-blue;
}

//Spacing between the 3 lines dropdown
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

/* Sticky footer styles*/
//-------------------------------------------------- 


$footer-border: 2px;
$footer-height: 40px;
html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto 0 - $footer-height - $footer-border;
}
