@font-face {
    font-family: "roboto_ltregular";
    src: font-url("roboto-light.woff") format("woff"),
         font-url("roboto-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotoregular";
    src: font-url("roboto-regular.woff") format("woff"),
         font-url("roboto-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: "robotoregular", "Lucida Grande", 
	"Lucida Sans Unicode", Verdana, sans-serif;
	font-weight: bold;
}

body {
	font-family: "roboto_ltregular", "Lucida Grande", 
	"Lucida Sans Unicode", Verdana, sans-serif;
}

// Vertical Rhythm with Compass

$base-font-size: 16px;
$base-line-height: 25px;
@include establish-baseline;