
@import "vars/pre-vars";
@import "bootstrap";
@import "bootstrap-responsive";

$grayMediumLight: #eaeaea;
$footer-gray: #f5f5f5;

$margin-fix: 0px;
$list-spacing: 10px;

$footer-padding: 30px;
$footer-padding-vert: 10px;
$footer-margin-vert: 0px;
$heading-margin: 30px;


//scrollbar gutter
html {
  overflow-y: scroll;
}


/*Smaller hero-unit*/

.hero-unit{
	h1{
		font-size: 3.4em;
	}
}

/*====================================*/

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}  

/* typography */
h2 {
	font-size: 1.6em;
	letter-spacing: -1px;
	margin-bottom: $heading-margin;
	font-weight: normal;
	color: $grayLight;
}

/* footer */
footer {	
	padding-left: $footer-padding;
	padding-right: $footer-padding;
	border-top: $footer-border solid $grayMediumLight;
	
	a {
		color: $gray;
		&:hover { 
			color: $grayDarker;
		}
	}
	ul {
		float: right;
		list-style: none;
		li {
			line-height: $footer_height;
			float: left;
			margin-left: $list-spacing;
		}
	}
}
